BOT_TOKEN=
BOT_USERNAME=
BOT_ADMIN_ID=
BOT_API_SERVER=

POOL_SIZE_REDIS=
POOL_SIZE_PGSQL=

PGSQL_USER=
PGSQL_NAME=
PGSQL_PASS=
PGSQL_HOST=
PGSQL_PORT=

REDIS_HOST=
REDIS_PORT=

API_HOST=
API_PORT=
API_AUTH_TTL=
API_JWT_SECRET=

WEBHOOK_SECRET=
WEBHOOK_URL=

HELPER_IDS=
MIN_MEMBERS_COUNT=
